<!DOCTYPE html>
<html lang="de">
	<head>

		<!-- Title -->
		<title></title>
		
		<!-- Meta -->
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="content-Language" content="en" />
		<meta name="keywords" content="" />
		<meta name="author" content="" />
		<meta name="copyright" content="" />
		<meta name="company" content="" />
		<meta name="robots" content="all" />

		<!-- Favicons -->
		<link rel="shortcut icon" type="image/png" href="" />
		<link rel="apple-touch-icon" href="" />
		
		<!-- Stylesheets -->
		<link type="text/css" rel="stylesheet" href="" />
		
		<!-- Scripts -->
		<script type="text/javascript" src=""></script>

	</head>	
	<body>

	</body>
</html>
